.card {
    cursor: move;
    position: absolute;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(56, 62, 68, 0.125057);
    border-radius: 5px;
}

.cardTitle {
    position: absolute;
    height: 16px;
    left: 6.98%;
    top: calc(50% - 16px/2 + 2px);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px
}

.cardNote {
    position: absolute;
    height: 13px;
    left: 6.98%;
    top: calc(50% - 13px/2 + 19.5px);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    mix-blend-mode: normal;
    opacity: 0.4
}

.cardTime {
    position: absolute;
    left: 14px;
    top: 14px
}

.cardTimeValue {
    position: absolute;
    height: 13px;
    left: 39.53%;
    top: calc(50% - 13px/2);
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
}
